    // Teams collection
    match /teams/{teamId} {
      // Allow anyone to read/write
      allow read, write: if true;

      // Members subcollection

      // Matches subcollection
      match /matches/{matchId} {
        allow read, write: if true;
      }
    }

    // Prepared Matches collection
    match /preparedMatches/{documentId} {
      allow read, write: if true;
    }
